    #firstCircle {
    background-color: yellow;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 2px solid blue;
    margin-bottom: 30%;
  }
  
  p {
    text-align: center;
    font-weight: bold;
  }
  
  #secondCircle {
    background-color: blue;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 2px solid yellow;
    margin-bottom: 30%;
  }
  
  #thirdCircle {
    background-color: black;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 10px 0;
    border: 2px solid yellow;
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }